
<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Kodmanya-Giriş</title>

<style>
    body {
    text-align: center;
    padding-top: 75px;
}
form {
    display: inline-block;
}
</style>
  </head>

  <body class="text-center">
   <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Kodmanya</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="btn btn-primary" href="/home" role="button">Ana Sayfa</a>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <button type="button" class="btn btn-primary"> <a class="nav-link" href="/login" data-abc="true"><span style="color:white;">Giriş</span></a> </button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-primary"> <a class="nav-link" href="/signup" data-abc="true"><span style="color:white;">Kaydol</span></a> </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>

    <form class="form-signin" action="/datas" method="post" style="width:30%;">
      <h3 class="h3 mb-3 font-weight-normal">{{new}}</h3>
      <h1 class="h3 mb-3 font-weight-normal">Lütfen Giriş Yapın</h1>
      <label for="user_name" class="sr-only">Kullanıcı Adı</label>
      <input type="text" id="user_name" name="user_name" class="form-control" placeholder="Kullanıcı Adı" required autofocus>
      <label for="user_password" class="sr-only">Parola</label>
      <input type="password" id="user_password" name="user_password" class="form-control" placeholder="Parola" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Giriş</button>
      <h1 class="h3 mb-3 font-weight-normal">{{hata}}</h1>
      <p class="mt-5 mb-3 text-muted">&copy; 2019-2020</p>
    </form>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>